@import "https://www.nerdfonts.com/assets/css/webfont.css";

@import 'modern-normalize/modern-normalize.css';

body {
  display: grid;
  grid-template-columns: 195px repeat(3, 570px);
  grid-template-rows: 190px 300px 300px 300px;
}

a {
  text-decoration: none;
}

#sidebar {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  background-color: #5867b4;
  
  
}

#sidebar a {
  color: #EAFFE6;
}

#sidebar a:hover {
  color: #fca3cf;
}

#sidebar i {
  display: block;
  padding: 1.6rem;
}

#dash {
  font-size: 24px;
}

#header {
  background-color: #fca3cf;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 1rem;
}

#header a {
  color: #4D0000;
}

#header a:hover {
  color: #5a63e0;
}

#top-row {
  display: inline-block;
}

#top-row i {
  padding-left: 2rem;
  padding-right: 2rem;
}

#top-row input {
  width: 1250px;
  border-radius: 10px;
  margin-right: 100px;
}

#top-row p {
  display: inline-block;
  padding-left: 1rem;
}

#menu-user {
  position: relative;
  top: 17%;
}

#bottom-row {
  display: inline-flex;
  align-items: center;
  justify-content: left;
}

#user-icon {
  margin-left: 2rem;
  flex-basis: 100px;
}

#bottom-row p {
  flex-basis: 100px;
  margin-right: 400px;
  font-weight: bold;
}

#bottom-row button {
  margin: 2rem;
  border-radius: 10px;
  background-color: #979ceb;
  border: 1px solid white;
  padding: 0.5rem;
}

#bottom-row button:hover {
  background-color: #7e83c5;
}